a {
    color: #DEEBFF;
}

body {
    background-color: #CCB28A;
    margin: 0;
    padding-bottom: 200px;
    position: relative;
}

.cartlogo {
    border-left: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

#credits {
    align-content: center;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
}

#credits p {
    align-self: center;
    width: 80%;
}

#digitorum {
    margin-bottom: 3%;
}

footer {
    background-color: #FFDEAD;
    bottom: 0;
    display: flex;
    height: 120px;
    justify-content: space-around;
    padding-bottom: 1%;
    padding-top: 1%;
    position: absolute;
    width: 100%;
}

.fullwidth {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fullthird {
    /*Fullthird is used in addition to fullwidth for thirdsection containers, so the actual fullwidth class can be applied to the image source containers as well*/
    margin-top: 2%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4em;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 100%;
}

h2 {
    align-self: center;
    color: #FFE8E5;
    font-family: 'Ubuntu', sans-serif;
}

#home-arm {
    margin-bottom: 3%;
}

#home-body {
    margin-bottom: 6%;
}

img {
    cursor: pointer;
}

.imgflex {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

main {
    align-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    min-height: 79vh;
}

main div.fullwidth section.thirdsection div.imgflex div.verticalcontainer div.z-hands {
    /*IS THIS ENOUGH SELECTORS YET?*/
    width: 80%;
}

main div.fullwidth section.thirdsection div.imgflex div.verticalcontainer div.z-hands img:hover {
    width: 112.5%; /*Used to change the width of the div to 90%, so changing the img to (100% * (90/80)) has the same effect*/
}

main div.fullwidth section.thirdsection div.imgflex div.verticalcontainer div.z-hands img.overlayhandimg {
    width: 112.5%;
}

main section {
    display: flex;
    flex-direction: column;
    margin-left: 0.7%;
    margin-right: 0.7%;
    padding-bottom: 2%;
    width: 45%;
}

main section div.imgcontainer {
    align-self: center;
    filter: brightness(85%);
    transition-duration: .5s;
    width: 60%;
}

main section div.imgcontainer:hover {
    filter: brightness(100%);
    transition-duration: .5s;
    width: 75%;
}

main section div.imgcontainer img {
    height: 100%;
    transition-duration: .5s;
    width: 100%;
}

main section div.imgcontainer img:hover {
    box-shadow: 7px 7px 5px #6a5d48;
    transition-duration: .5s;
}

main section p {
    font-size: 1.5em;
    max-width: 100%;
    word-spacing: 3px;
}

#names {
    align-content: center;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2em;
    justify-content: center;
    width: 25%;
}

#names p {
    align-self: center;
    line-height: 150%;
}

nav {
    background-color: #FFBF60;
    border-radius: 50px;
    font-size: 1.2em;
    line-height: normal;
    text-align: center;
    width: 50%;
}

nav a {
    font-family: 'Merriweather', serif;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    text-align: center;
    text-decoration: none;
}

nav a:link {
    color: #264066;
    transition-duration: .5s;
}

nav a:link:hover {
    color: black;
    transition-duration: .5s;
}

nav a:visited {
    color: #264066;
    transition-duration: .5s;
}

nav a:visited:hover {
    color: black;
    transition-duration: .5s;
}

#navbutton {
    display: none;
    height: 32px;
    margin-left: 2%;
    margin-top: 2%;
    width: 32px;
}

#navbutton:hover {
    cursor: pointer;
}

.navcontainer {
    display: flex;
    justify-content: space-around;
}

#navdrop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.nav-drop {
    padding-bottom: .3%;
    padding-top: .3%;
    position: relative;
    top: -500px;
    transition-duration: .5s;
}

.nav-dropped {
    position: relative;
    top: 0;
    transition-duration: .3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5);*/
    z-index: 2;
    cursor: pointer;
}

.overlayhandhover {
    display: none;
    position: fixed;
    width: 112.5%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5);*/
    z-index: 2;
    cursor: pointer;
}

section {
    background-color: #7F6F56;
    border-radius: 25px;
    padding: 1%;
}

section p {
    color: #FFF;
}

.thirdsection {
    margin-top: 1%;
    width: 60%;
}

.twosections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-top: 3%;
    width: 100%;
}

.verticalcontainer {
    display: flex;
    flex-direction: column;
}

.vl {
    border-left: 1px solid black;
}

@media only screen and (max-width: 1024px) {
    footer {
        font-size: .9em;
    }

    #home-body {
        margin-top: 8%;
    }

    h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.4em;
        margin-bottom: 2%;
        margin-top: 2%;
        text-align: center;
        width: 90%;
    }

    main {
        align-content: flex-start;
    }

    main div.fullwidth section.thirdsection div.imgflex div.verticalcontainer div.z-hands img:hover {
        width: 100%;
        /*cancels hover expansion on tablets*/
    }

    main div.fullwidth section.thirdsection div.imgflex div.verticalcontainer div.z-hands img.overlayhandimg {
        width: 100%;
    }

    main section div.imgcontainer {
        filter: brightness(100%);
        width: 90%;
    }

    main section div.imgcontainer:hover {
        filter: brightness(100%);
        width: 90%;
        /*cancels hover expansion on tablets*/
    }

    main section div.imgcontainer img:hover {
        box-shadow: none;
    }

    main section p {
        font-size: 1.5em;
        max-width: 100%;
        padding-left: 2%;
        word-spacing: 3px;
    }

    nav {
        font-size: 1.2em;
        width: 73%;
    }

    nav a:link {
        color: black;
        transition-duration: .5s;
    }

    nav a:visited {
        color: black;
        transition-duration: .5s;
    }

    .overlayhandhover {
        width: 100%;
    }

    .twosections {
        margin-left: 1.7%;
        margin-right: 1.7%;
    }
}

@media only screen and (max-width: 640px) {
    #credits {
        font-size: 1.2em;
        margin-left: -5%;
        margin-right: -7%;
    }

    div.z-hands div {
        margin-bottom: 10%;
    }

    footer {
        background-color: #FFDEAD;
        bottom: 0;
        display: flex;
        font-size: 0.765em;
        height: 130px;
        justify-content: space-around;
        padding-bottom: 1%;
        padding-top: 1%;
        position: absolute;
        width: 100%;
    }

    .fullthird {
        margin-top: 0;
    }

    .fullthird section {
        width: 90%;
    }

    h1 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .imgflex {
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    main section {
        margin-left: 4.5%;
        margin-right: 4.5%;
        width: 90%;
    }

    main div.fullwidth section.thirdsection div.imgflex div.verticalcontainer div.z-hands {
        width: 80%;
    }

    nav a {
        font-size: .9em;
    }

    #navbutton {
        display: block;
    }

    .twosections section {
        width: 90%;
    }

    .twosections {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 525px) {
    .cartlogo a img {
        height: 117px;
        width: 90px;
    }

    #names {
        justify-content: space-between;
    }

    nav a {
        font-size: .7em;
    }
}

@media only screen and (max-width: 380px) {
    nav {
        font-size: 1.6em;
        margin-bottom: 2%;
        width: 95%;
    }

    nav a {
        font-size: .6em;
    }
}

@media only screen and (max-width: 325px) {
    nav a {
        font-size: .5em;
    }
}
