/*initial commit placeholder*/
.main {
    background-color: #dfffff;
}

body {
    margin: 0 auto;
    max-width: 60%;

}
  /**       Home     **/

  /**       navbar css     **/

#button {
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin-top: 2%;
    width: 6%;
    height: 25px;
}

#menu-bars {
    width: 20px;
    height: 20px;
}

.nav-drop {
    position: relative;
    top: -500px;
    transition-duration: .5s;
}

#nav-a {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: normal;
    font-size: 1.2em;


}

.a {
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    text-decoration: none;
}

.home-h1 {
    text-align: center;
}

.home-p {
    line-height: 115%;
    font-size: 1.2em;
    margin-top: 5%;
}
